<footer>
    <ul class="flink">
        <li><a href=""><img src="{IMG_PATH}myimg/sxxinhua.jpg" alt=""></a></li>
        <li><a href=""><img src="{IMG_PATH}myimg/yicheng.jpg" alt=""></a></li>
        <li><a href=""><img src="{IMG_PATH}myimg/yuanding.jpg" alt=""></a></li>
        <li><a href=""><img src="{IMG_PATH}myimg/zgjc.gif" alt=""></a></li>
        <li><a href=""><img src="{IMG_PATH}myimg/zgxxt.gif" alt=""></a></li>
        <li><a href=""><img src="{IMG_PATH}myimg/k12.gif" alt=""></a></li>
        <li><a href=""><img src="{IMG_PATH}myimg/logo.gif" alt=""></a></li>
    </ul>
    <div class="footer">
        <p>山西省翼城中学　2006-2013 版权所有 <a href="">晋ICP备06006685号</a></p>
    </div>
</footer>
<!--[if IE 6]>
<script type="text/javascript" src="{JS_PATH}nsz.js"></script>
<script type="text/javascript">
	nsz.fix('.sr_logo img');
</script>
<![endif]-->
</body>
</html>