<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>山西省翼城中学</title>
	<link rel="stylesheet" href="http://localhost/yczx/install_package/statics/css/mycss/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost/yczx/install_package/statics/css/mycss/index.css">
	<link rel="stylesheet" href="http://localhost/yczx/install_package/statics/css/mycss/animate.min.css">
	<link rel="stylesheet" href="http://localhost/yczx/install_package/statics/css/mycss/swiper.min.css">
	<link rel="stylesheet" href="http://localhost/yczx/install_package/statics/css/mycss/index.css">
	<script src="http://localhost/yczx/install_package/statics/js/myjs/jquery.js"></script>
	<script src="http://localhost/yczx/install_package/statics/js/myjs/swiper.min.js"></script>
	<script src="http://localhost/yczx/install_package/statics/js/myjs/index.js"></script>
</head>
<body>
<div class="body">
	<nav>
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="1180" height="280">
			<param name="movie" value="http://www.sxyczx.com.cn/760x88123.swf">
			<param name="quality" value="high">
			<embed src="http://localhost/yczx/install_package/statics/css/swf/760x88123.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1180" height="280">
		</object>
		<ul class="yiji">
			<li>
				<a href="index.php">首页</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a>学校概况</a>
				<ul class="erji">
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=21">学校简介</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=22">组织机构</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=23">整体规划</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=24">校园活动</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=25">领导致辞</a></li>
				</ul>
			</li>
			<li>
				<a>新闻中心</a>
				<ul class="erji">
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=26">学校新闻</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=27">教育新闻</a></li>
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=12">德育之窗</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=13">校园风光</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a>学生工作</a>
				<ul class="erji">
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=28">国旗下的讲话</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=29">学生会</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=30">心情小屋</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=31">文学社</a></li>
				</ul>
			</li>
			<li>
				<a>图书馆</a>
				<ul class="erji">
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=32">最新书目</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=33">新书介绍</a></li>
					<li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=34">推荐书目</a></li>
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=16">教学资源</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=17">校友风采</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=18">留言簿</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=19">下载中心</a>
				<ul class="erji">
				</ul>
			</li>
			<li>
				<a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=20">联系我们</a>
				<ul class="erji">
				</ul>
			</li>
		</ul>
	</nav>
