<div class="module-box">
    <div class="module">
        <div class="title"><h2>学校公告</h2><a href="index.php?m=content&c=index&a=lists&catid=43">more</a></div>
        <div class="con">
            <ul>
                <li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=show&catid=43&id=69">翼城中学关于开展第六届英语周活动的通知</a></li>
                <li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=show&catid=43&id=68">翼城中学招聘启事</a></li>
                <li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=show&catid=43&id=67">翼城中学澡堂招标</a></li>
                <li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=show&catid=43&id=66">翼城中学超市招标</a></li>
                <li><a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=show&catid=43&id=65">翼城中学食堂经营招标</a></li>
            </ul>
        </div>
    </div>
    <div class="module">
        <div class="title">
            <h2>学校工作</h2><a href="index.php?m=content&c=index&a=lists&catid=14">more</a>
        </div>
        <div class="con">
            <a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=28"><img src="http://localhost/yczx/install_package/uploadfile/2017/0216/20170216032950513.jpg" alt=""></a>
            <a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=29"><img src="http://localhost/yczx/install_package/uploadfile/2017/0216/20170216033026478.jpg" alt=""></a>
            <a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=30"><img src="http://localhost/yczx/install_package/uploadfile/2017/0216/20170216033038954.jpg" alt=""></a>
            <a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=31"><img src="http://localhost/yczx/install_package/uploadfile/2017/0216/20170216033047945.jpg" alt=""></a>
        </div>
    </div>
    <div class="module">
        <div class="title">
            <h2>校园风光</h2><a href="index.php?m=content&c=index&a=lists&catid=13">more</a>
        </div>
        <div class="con">
            <a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=13"><img src="http://localhost/yczx/install_package/uploadfile/2017/0216/20170216045701147.jpg" alt="" width="300"></a>
        </div>
    </div>
    <div class="module">
        <div class="title">
            <h2>校园活动</h2><a href="index.php?m=content&c=index&a=lists&catid=44">more</a>
        </div>
        <div class="con">
            <a href="http://localhost/yczx/install_package/index.php?m=content&c=index&a=lists&catid=44"><img src="http://localhost/yczx/install_package/uploadfile/2017/0216/20170216042127482.jpg" alt="" width="300"></a>
        </div>
    </div>
</div>