{template "content","header"}
<div class="adver">
    <div class="adver-icon">
        &#xe606;
    </div>
    <marquee behavior="scroll" direction="left" width="1160" height="20" onmouseover="this.stop()" onmouseout="this.start()"  scrollamount="5">
        <div class="adver-box">
            <a href="">翼城中学关于开展第六届英语周活动的通知</a>
            <a href="">翼城中学招聘启事</a>
            <a href="">翼城中学澡堂招标</a>
            <a href="">翼城中学超市招标</a>
        </div>
    </marquee>
</div>
<div class="banner-box">
    <div class="banner">
        <div class="img-box">
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
            <a href=""><img src="" alt=""></a>
        </div>
        <ul class="btn">
            <li id="ban-active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!--模块-->
<div class="module-out">
    {template "content","left"}
    <div class="module-box">
        <div class="module">
            <div class="title"><h2>学校概况</h2><a href="">more</a></div>
            <div class="con">
                <ul>
                    <li>
                        <a href="" class="aLink">
                            <img src="{IMG_PATH}myimg/22.jpg" alt="">
                            <span>翼城中学</span>
                        </a>
                        <p>翼城中学创建于1952年，位于县城南端。东枕浍水，南襟翔山，是宋代名相文彦博的“潞公旧治”和历代县衙故地，木牌楼、石牌坊翘首顾盼，文峰塔、五奎塔遥遥相望，明朝钟楼修葺一新坐落其中。校园古朴幽静，人文历史氛围浓郁，办学条件得天独厚。</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="module">
            <div class="title"><h2>学校新闻</h2><a href="">more</a></div>
            <div class="con">
                <ul>
                    <li><a href="">十八大党章解读学习3</a></li>
                    <li><a href="">十八大党章解读学习2</a></li>
                    <li><a href="">十八大党章解读学习</a></li>
                    <li><a href="">2015年12月31日  我校举办了庆元旦联欢晚会</a></li>
                    <li><a href="">2015年12月31日  我校举办了庆元旦联欢晚会</a></li>
                    <li><a href="">为了弘扬中华正能量  我校举办教师演讲赛</a></li>
                    <li><a href="">元旦期间，同学们进行了激烈的拔河比赛</a></li>
                </ul>
            </div>
        </div>
        <div class="module">
            <div class="title"><h2>学校新闻</h2><a href="">more</a></div>
            <div class="con">
                <ul>
                    <li><a href="">十八大党章解读学习3</a></li>
                    <li><a href="">十八大党章解读学习2</a></li>
                    <li><a href="">十八大党章解读学习</a></li>
                    <li><a href="">2015年12月31日  我校举办了庆元旦联欢晚会</a></li>
                    <li><a href="">2015年12月31日  我校举办了庆元旦联欢晚会</a></li>
                    <li><a href="">为了弘扬中华正能量  我校举办教师演讲赛</a></li>
                    <li><a href="">元旦期间，同学们进行了激烈的拔河比赛</a></li>
                </ul>
            </div>
        </div>
        <div class="module">
            <div class="title"><h2>学校新闻</h2><a href="">more</a></div>
            <div class="con">
                <ul>
                    <li><a href="">十八大党章解读学习3</a></li>
                    <li><a href="">十八大党章解读学习2</a></li>
                    <li><a href="">十八大党章解读学习</a></li>
                    <li><a href="">2015年12月31日  我校举办了庆元旦联欢晚会</a></li>
                    <li><a href="">2015年12月31日  我校举办了庆元旦联欢晚会</a></li>
                    <li><a href="">为了弘扬中华正能量  我校举办教师演讲赛</a></li>
                    <li><a href="">元旦期间，同学们进行了激烈的拔河比赛</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="module-box">
        <div class="module">
            <div class="title">
                <h2>校园致辞</h2><a href="">more</a>
            </div>
            <div class="con">
                <p>志存高远，自强不息 争做全面发展的优秀中学生 ——在2011年高一新生开学典礼上的讲话 校长  孙启鸿...</p>
            </div>
        </div>
        <div class="module">
            <div class="title">
                <h2>教学资源</h2><a href="">more</a>
            </div>
            <div class="con">
                <ul>
                    <li><a href="">“目标引领、336课堂模式”</a></li>
                    <li><a href="">下导学案的编制与使用</a></li>
                    <li><a href="">山东杜郎口中学、昌乐二中</a></li>
                    <li><a href="">学习体会</a></li>
                    <li><a href="">翼城中学“目标引领、四步</a></li>
                    <li><a href="">翼城中学“四步备课”要求</a></li>
                </ul></div>
        </div>
        <div class="module">
            <div class="title">
                <h2>校园致辞</h2><a href="">more</a>
            </div>
            <div class="con">
                <p>志存高远，自强不息 争做全面发展的优秀中学生 ——在2011年高一新生开学典礼上的讲话 校长  孙启鸿...</p>
            </div>
        </div>
        <div class="module">
            <div class="title">
                <h2>教学资源</h2><a href="">more</a>
            </div>
            <div class="con">
                <ul>
                    <li><a href="">“目标引领、336课堂模式”</a></li>
                    <li><a href="">下导学案的编制与使用</a></li>
                    <li><a href="">山东杜郎口中学、昌乐二中</a></li>
                    <li><a href="">学习体会</a></li>
                    <li><a href="">翼城中学“目标引领、四步</a></li>
                    <li><a href="">翼城中学“四步备课”要求</a></li>
                </ul></div>
        </div>
    </div>
</div>
{template "content","footer"}