{template "content","header"}
<div class="module-out module-out1" style="background: #fff;">
    {template "content","left"}
    <div class="module-box">

        <h4 style="color: #214D7C;">您现在的位置:<a href="index.php">首页</a>->{if $CATEGORYS[$CAT[catid]][parentid]!=0}<a href="index.php?m=content&c=index&a=lists&catid={$parentid}">{$CATEGORYS[$CAT[parentid]][catname]}</a>->{/if}{$catname}</h4>
        {pc:content action="lists" catid="$catid" order="listorder ASC" num="14" moreinfo="1"}
        {loop $data $v}
        {$v["content"]}
        {/loop}
        {/pc}
    </div>
</div>

{template "content","footer"}