{template "content","header"}
<div class="module-out module-out1" style="background: #fff;">
{template "content","left"}
<article class="module-box" style="width: auto;padding-left: 30px">
    <h4 style="color: #214D7C;">您现在的位置:<a href="index.php">首页</a>->{$catname}</h4>
    <div class="showMessage">
        {pc:get sql="SELECT * FROM v9_form_liuyan" order="dataid DESC" return="data" page=$page}
        {loop $data $r}
        <ul>
            <li>
                <h2>{$r["username"]}</h2>
            </li>
            <li>
                <p>{$r["con"]}</p>
            </li>
            <li style="overflow: hidden;display: inline-block;">
                <p class="autor" style="display: flex;justify-content: space-between"><span class="lm f_l"><a href="javascript:;">{if $r["posname"]==0}个人博客{elseif $r["posname"]==1}公共微博{/if}</a></span>
                    <span class="dtime f_l"><?php echo date("Y-m-d H:i:s",$r["datetime"]);?></span></p>
            </li>
        </ul>
        {/loop}
        {/pc}
    </div>
    <div class="control-group" style="height:500px;width: 800px;color: #666;">
        <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=13&action=js&siteid=1'></script>
    </div>
</article>

<script>
//    //留言
//    $("#message").click(function(){
//        var val=$("#liu").val();
//        if(val!=""){
//            $.ajax({
//                url:"{APP_PATH}index.php?m=comment&c=index&a=post",
//                data:"liucon="+val,
//                type:"post",
//                success:function(e){
//                    console.log(e);
//                    if(e=="login"){
//                        alert("请登录!");
//                        location.href="http://localhost/yczx/install_package/index.php?m=member&c=index&a=login&forward=http%3A%2F%2Flocalhost%2Fyczx%2Finstall_package%2F&siteid=1";
//                    }else{
//
//                    }
//                }
//            })
//        }else{
//            alert("请留言!");
//        }
//    })
//    //留言评论
//    $(".pingl").click(function(){
//        var ul=$(".showMessage>ul");
//        var input=$(document).createElement("<textarea>");
//        input.append(ul);
//    })
</script>
</div>
{template "content","footer"}
